label	taxon_name	fasta	weight	url
Fnuc	Fusobacterium nucleatum
Pmic	Parvimonas micra
Psto	Peptostreptococcus stomatis
Dpne	Dialister pneumosintes
Csym	Clostridium symbiosum
Hhat	Hungatella hathewayi
Bfrag	Bacteroides fragilis
Porp	Porphyromonas asaccharolytica
Pint	Prevotella intermedia
